<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css">
    <link rel="icon" href="../static/images/icon.png" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            <ul>
                {% for state in list2 %}
                <h2>{{ state.0 }}</h2>
                    <ul>
                        {% for city in city_list %}
                        {%- if city.2 == state.1 %}
                        <li>{{ city.0 }}</li>
                        {% endif -%}
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
          </div>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <div class="popover">
            <ul>
                {% for amenity in list_amenities %}
                <li>{{ amenity }}</li>
                {% endfor %}
            </ul>
          </div>
        </div>
        <button type="button">Search</button>
      </section>
      <section class="places">
        <h1>Places</h1>
	{% for place in all_places %}
        <article>
          <div class="title_box">
            <h2>{{ place.0 }}</h2>
            <div class="price_by_night">${{ place.5 }}</div>
          </div>
          <div class="information">
            <div class="max_guest">{{ place.4 }} Guests</div>
            <div class="number_rooms">{{ place.2 }} Bedroom</div>
            <div class="number_bathrooms">{{ place.3 }} Bathroom</div>
          </div>
          <div class="user">
            <b>Owner:</b> {{ place.6 }}
          </div>
          <div class="description">
            {{ place.1|safe }}
          </div>
        </article>
	{% endfor %}
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
